@font-face {
	font-family: 'PressStart';
	src: url(assets/fonts/PressStart2P-Regular.woff) format('woff');
}

:root {
	--world-width: 1000px;
	--cell-size: 10px;
	--map-columns: 10;

	--parallax-shift: 0px;

	--daynight-color: #aee7f8;
	--night-intensity: 0;
}

html {
	font-family: 'PressStart';
	font-size: 16px;
	line-height: 1.1;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#overlay {
	background-color: black;
	background-position: center;
	background-size: cover;
	color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 99;
	opacity: 1;
	transition: opacity 1s ease;
}

#overlay:not(.isPlaying) {
	background-image: url(/assets/ui/bg_start.jpg);
}

#overlay.isPlaying {
	opacity: 0;
	pointer-events: none;
}

#overlay.gOver {
	background-image: url(/assets/ui/bg_game-over.jpg);
}

#overlay.finish {
	background-image: url(/assets/ui/bg_finish.jpg);
}

#overlay .btn {
	font-size: 32px;
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 7px;
}

#overlay .btn.locked {
	opacity: .4;
	pointer-events: none;
}

#overlay .play_button {
	margin-top: 14vh;
	margin-bottom: 6vh;
}

#overlay>* {
	padding: 2vw;
	user-select: none;
	background-color: #000000AD;
	text-shadow: 4px 4px 0px black;
}

#overlay .overlay_text {
	font-size: 5vw;
}

#root {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

world-container {
	width: var(--world-width);
	position: relative;
	cursor: crosshair;
}

#sky {
	position: relative;
	width: 100%;
	height: 20vh;
}

#sky .background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: repeat-x;
	background-size: contain;
	background-position-y: bottom;
	transition: background-position-x .4s linear;
}

#arrow {
	position: absolute;
	right: 30%;
	top: 10%;
	width: 12vw;
	aspect-ratio: 2 / 1;
	background-size: cover !important;
	background: url(/assets/ui/arrow.png);
	animation-name: arrowAnim;
	animation-duration: .7s;
	animation-iteration-count: infinite;
}

@keyframes arrowAnim {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

#arrow.hide {
	visibility: hidden;
}

#bg0 {
	background: linear-gradient(0deg, #ffffff 0%, var(--daynight-color) 100%);
}

#bg_stars {
	background-image: url(/assets/backgrounds/bg_stars.png);
	opacity: var(--night-intensity);
}

#bg1 {
	background-image: url(/assets/backgrounds/bg_1.png);
	background-position-x: calc(var(--parallax-shift) * 1.5);
}

#bg2 {
	background-image: url(/assets/backgrounds/bg_2.png);
	background-position-x: calc(var(--parallax-shift) * 3);
}

#bg3 {
	background-image: url(/assets/backgrounds/bg_3.png);
}

#daynight_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #1c0f38;
	opacity: var(--night-intensity);
	pointer-events: none;
	z-index: 1;
}


#map_border_bottom {
	width: 100%;
	height: calc(var(--cell-size) * 2);
	background-image: url(/assets/backgrounds/sea.png);
	background-repeat: repeat-x;
	background-size: contain;
	background-position-y: bottom;
}


#map_container {
	display: grid;
	grid-template-columns: repeat(var(--map-columns), 1fr);
	position: relative;
}

map-cell {
	background-size: cover;
	width: var(--cell-size);
	height: var(--cell-size);
	transition: box-shadow .25s ease;
}

#root.wLv1 map-cell.has_enemy:hover {
	cursor: url(/assets/ui/sword_1_cursor.png), auto;
}

#root.wLv2 map-cell.has_enemy:hover {
	cursor: url(/assets/ui/sword_2_cursor.png), auto;
}

#root.wLv3 map-cell.has_enemy:hover {
	cursor: url(/assets/ui/sword_3_cursor.png), auto;
}

#root.wLv4 map-cell.has_enemy:hover {
	cursor: url(/assets/ui/sword_4_cursor.png), auto;
}

#root.wLv5 map-cell.has_enemy:hover {
	cursor: url(/assets/ui/sword_5_cursor.png), auto;
}

#root.debug map-cell {
	border-top: 1px dashed #838383;
	border-right: 1px dashed #838383
}

map-cell:hover {
	box-shadow: inset 0px 0px 6px 2px darkgoldenrod;
}

map-cell.current_target {
	box-shadow: inset 0px 0px 6px 2px blue;
}

map-cell.has_enemy.current_target {
	box-shadow: inset 0px 0px 6px 2px purple;
}

map-cell.grass_1 {
	background-image: url(/assets/tiles/grass_1.png)
}

map-cell.grass_2 {
	background-image: url(/assets/tiles/grass_3.png)
}

map-cell.grass_3 {
	background-image: url(/assets/tiles/grass_3.png)
}

map-cell.tree_1 {
	background-image: url(/assets/tiles/tree_1.png)
}

map-cell.tree_2 {
	background-image: url(/assets/tiles/tree_2.png)
}

map-cell.tree_3 {
	background-image: url(/assets/tiles/tree_3.png)
}

map-cell.rock_1 {
	background-image: url(/assets/tiles/rock_1.png)
}

map-cell.rock_2 {
	background-image: url(/assets/tiles/rock_2.png)
}

map-cell.rock_3 {
	background-image: url(/assets/tiles/rock_3.png)
}

map-cell.city {
	background-image: url(/assets/tiles/city.png)
}

player-avatar {
	--player-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 10;
	background-image: url(/assets/characters/player/idle.png);
	background-size: cover;
	transition: top var(--player-move-speed) linear, left var(--player-move-speed) linear;
	z-index: 3;
	text-align: center;
}

player-avatar.walk {
	background-image: url(/assets/characters/player/walk.png);
}

player-avatar.death {
	background-image: url(/assets/characters/player/death.png);
}

enemy-avatar,
boss-avatar {
	--enemy-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 9;
	background-size: cover;
	transition: top var(--enemy-move-speed) linear, left var(--enemy-move-speed) linear;
	z-index: 2;
	text-align: center;
	pointer-events: none;
}



enemy-avatar.death,
boss-avatar.death {
	z-index: 1;
}

enemy-avatar.lv1 {
	background-image: url(/assets/characters/eLv1/idle.png);
}

enemy-avatar.lv2 {
	background-image: url(/assets/characters/eLv2/idle.png);
}

enemy-avatar.lv3 {
	background-image: url(/assets/characters/eLv3/idle.png);
}

enemy-avatar.lv4 {
	background-image: url(/assets/characters/eLv4/idle.png);
}

enemy-avatar.walk.lv1 {
	background-image: url(/assets/characters/eLv1/walk.png);
}

enemy-avatar.walk.lv2 {
	background-image: url(/assets/characters/eLv2/walk.png);
}

enemy-avatar.walk.lv3 {
	background-image: url(/assets/characters/eLv3/walk.png);
}

enemy-avatar.walk.lv4 {
	background-image: url(/assets/characters/eLv4/walk.png);
}

enemy-avatar.death.lv1 {
	background-image: url(/assets/characters/eLv1/death.png);
}

enemy-avatar.death.lv2 {
	background-image: url(/assets/characters/eLv2/death.png);
}

enemy-avatar.death.lv3 {
	background-image: url(/assets/characters/eLv3/death.png);
}

enemy-avatar.death.lv4 {
	background-image: url(/assets/characters/eLv4/death.png);
}


enemy-avatar.attack {
	background-image: unset;
}


boss-avatar {
	background-image: url(/assets/characters/boss/idle.png);
}

boss-avatar.walk {
	background-image: url(/assets/characters/boss/walk.png);
}

boss-avatar.death {
	background-image: url(/assets/characters/boss/death.png);
}


.health_bar {
	--hp-percentage: 100%;
	position: relative;
	margin: 0 auto;
	top: var(--cell-size);
	width: calc(var(--hp-percentage) * 0.8);
	height: calc(var(--cell-size) / 10);
	border: 1px solid white;
}

player-avatar .health_bar {
	background: #38edc0;
}

enemy-avatar .health_bar,
boss-avatar .health_bar {
	background: #ed3838;
}


.damage_label {
	position: absolute;
	opacity: 0;
	top: 0px;
	font-size: clamp(12px, 1.2vw, 20px);
	--display-time: .1s;
	transition: top var(--display-time) ease;
}

player-avatar.facing_left .damage_label,
enemy-avatar.facing_left .damage_label,
boss-avatar.facing_left .damage_label {
	transform: scaleX(-1);
}

.damage_label.active {
	opacity: 1;
	top: calc(var(--cell-size)/-2)
}


player-avatar .damage_label {
	color: #ed3838;
}

enemy-avatar .damage_label,
boss-avatar .damage_label {
	color: #ffffff;
}


player-avatar,
enemy-avatar,
boss-avatar {
	transform: scaleX(1.2) scaleY(1.2)
}

player-avatar.facing_left,
enemy-avatar.facing_left,
boss-avatar.facing_left {
	transform: scaleX(-1.2) scaleY(1.2)
}


/* pixel art mode: ON */
player-avatar,
enemy-avatar,
boss-avatar,
map-cell,
#arrow,
.background,
#overlay,
#map_border_bottom,
#UI {
	image-rendering: pixelated;
}