@font-face {
	font-family: 'PressStart';
	src: url(assets/fonts/PressStart2P-Regular.woff) format('woff');
}

:root {
	--world-width: 1000px;
	--cell-size: 10px;
	--map-columns: 10;

	--parallax-shift: 0px;


	--daynight-color: #aee7f8;
	--night-intensity: 0;
}

html {
	font-family: 'PressStart';
	font-size: 16px;
	line-height: 1.1;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#overlay {
	background-color: black;
	color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	z-index: 99;
	opacity: 1;
	transition: opacity 1s ease;
}

#overlay.isPlaying {
	opacity: 0;
	pointer-events: none;
}


#overlay .play_button {
	font-size: 32px;
	cursor: pointer;
}

#root {
	height: 100vh;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#world_container {
	width: var(--world-width);
	position: relative;
	cursor: url('assets/ui/cursor.png'), auto;
}

#sky {
	position: relative;
	width: 100%;
	height: 20vh;
}

#sky .background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: repeat-x;
	background-size: contain;
	background-position-y: bottom;
	transition: background-position-x .4s ease;
}

#bg0 {
	background: linear-gradient(0deg, #ffffff 0%, var(--daynight-color) 100%);
}

#bg_stars {
	background-image: url(/assets/backgrounds/bg_stars.png);
	opacity: var(--night-intensity);
}

#bg1 {
	background-image: url(/assets/backgrounds/bg_1.png);
	background-position-x: calc(var(--parallax-shift) * 1.5);
}

#bg2 {
	background-image: url(/assets/backgrounds/bg_2.png);
	background-position-x: calc(var(--parallax-shift) * 3);
}

#bg3 {
	background-image: url(/assets/backgrounds/bg_3.png);
	background-position-x: calc(var(--parallax-shift) * 6);
}

#daynight_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #1c0f38;
	opacity: var(--night-intensity);
	pointer-events: none;
	z-index: 1;
}


#map_border_bottom {
	width: 100%;
	height: calc(var(--cell-size) * 2);
	background-image: url(/assets/backgrounds/sea.png);
	background-repeat: repeat-x;
	background-size: contain;
	background-position-y: bottom;
}


#map_container {
	display: grid;
	grid-template-columns: repeat(var(--map-columns), 1fr);
	position: relative;
}

map-cell {
	background-size: cover;
	width: var(--cell-size);
	height: var(--cell-size);
	transition: box-shadow .25s ease;
}

map-cell:hover {
	box-shadow: inset 0px 0px 6px 2px darkgoldenrod;
}

map-cell.current_target {
	box-shadow: inset 0px 0px 6px 2px blue;
}

map-cell.has_enemy.current_target {
	box-shadow: inset 0px 0px 6px 2px purple;
}

map-cell.grass_1 {
	background-image: url(/assets/tiles/grass_1.png)
}

map-cell.grass_2 {
	background-image: url(/assets/tiles/grass_3.png)
}

map-cell.grass_3 {
	background-image: url(/assets/tiles/grass_3.png)
}

map-cell.tree_1 {
	background-image: url(/assets/tiles/tree_1.png)
}

map-cell.tree_2 {
	background-image: url(/assets/tiles/tree_2.png)
}

map-cell.tree_3 {
	background-image: url(/assets/tiles/tree_3.png)
}

map-cell.rock_1 {
	background-image: url(/assets/tiles/rock_1.png)
}

map-cell.rock_2 {
	background-image: url(/assets/tiles/rock_2.png)
}

map-cell.rock_3 {
	background-image: url(/assets/tiles/rock_3.png)
}


player-avatar {
	--player-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 10;
	background-image: url(/assets/characters/player/idle.png);
	background-size: cover;
	transition: top var(--player-move-speed) linear, left var(--player-move-speed) linear;
}

player-avatar.walk {
	background-image: url(/assets/characters/player/walk.png);
}

player-avatar.attack {
	background-image: url(/assets/characters/player/attack.png);
}

player-avatar.death {
	background-image: url(/assets/characters/player/death.png);
}

enemy-avatar {
	--enemy-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 9;
	background-image: url(/assets/characters/eLv1/idle.png);
	background-size: cover;
	transition: top var(--enemy-move-speed) linear, left var(--enemy-move-speed) linear;
}



player-avatar,
enemy-avatar {
	transform: scaleX(1.2) scaleY(1.2)
}

player-avatar.facing_left,
enemy-avatar.facing_left {
	transform: scaleX(-1.2) scaleY(1.2)
}

/* pixel art mode: ON */
player-avatar,
enemy-avatar,
map-cell,
.background,
#map_border_bottom {
	image-rendering: pixelated;
}