:root {
	--world-width: 1000px;
	--cell-size: 10px;
	--map-columns: 10;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
}

#world_container {
	margin: 0 auto;
	width: var(--world-width);
}

#sky {
	background-color: aqua;
	width: 100%;
	height: 20vh;
}

#map_border_top,
#map_border_bottom {
	display: flex;
	flex-wrap: wrap;
}

#map_border_top div,
#map_border_bottom div {
	background: brown;
	width: var(--cell-size);
	height: var(--cell-size);
}

#map_container {
	display: grid;
	grid-template-columns: repeat(var(--map-columns), 1fr);
	position: relative;
}

#map_container cell {
	/* background: green; */

	background-image: url(/assets/tileset/tileTest.png);


	border-right: 1px solid #474747;
	border-bottom: 1px solid #474747;
	width: var(--cell-size);
	height: var(--cell-size);
	transition: background-color .25s;
}

#map_container cell:hover {
	box-shadow: inset 0px 0px 6px 2px darkgoldenrod;
}

#map_container cell.current_target {
	box-shadow: inset 0px 0px 6px 2px blue;
}

#map_container cell.has_enemy.current_target {
	box-shadow: inset 0px 0px 6px 2px purple;
}

player-avatar {
	--player-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 10;
	background: yellow;
	transition: top var(--player-move-speed) ease, left var(--player-move-speed) ease;
}

enemy-avatar {
	--enemy-move-speed: .1s;
	width: var(--cell-size);
	height: var(--cell-size);
	display: block;
	position: absolute;
	z-index: 9;
	background: red;
	transition: top var(--enemy-move-speed) ease, left var(--enemy-move-speed) ease;
}