/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


#UI {
    display: flex;
    font-size: 2vw;
    color: white;
    background-color: darkslateblue;
    justify-content: space-between;
    align-items: center;
}

#UI .UI_current_map {
    padding: 10px;
    z-index: 10;
}

#UI .player_info_container {
    display: flex;
    padding: 5px 20px;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
}



#UI_current_weapon {
    background-image: url(assets/ui/sword_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--cell-size);
    height: var(--cell-size);
}

#UI_current_weapon.lv2 {
    background-image: url(assets/ui/sword_2.png);
}

#UI_current_weapon.lv3 {
    background-image: url(assets/ui/sword_3.png);
}

#UI_current_weapon.lv4 {
    background-image: url(assets/ui/sword_4.png);
}

#UI_current_weapon.lv5 {
    background-image: url(assets/ui/sword_5.png);
}

#UI .UI_current_gold {
    position: relative;
    margin-right: var(--cell-size);
    margin-left: var(--cell-size);
}

#UI .UI_current_gold:after {
    content: "";
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    right: calc(var(--cell-size) *-1);
    transform: translateY(-25%);
    background-image: url(assets/ui/coins.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#UI .player_level {}

#UI .UI_exp_container {
    width: 30vw;
    height: calc(var(--cell-size) / 2);
    border: 1px solid white;
    margin: 5px 20px;
}

#UI .UI_exp_current {
    background-color: gold;
    height: 100%;
    transition: width .2s ease;
}

#UI_level_up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: goldenrod;
    text-shadow: 5px 5px 0px black;
    pointer-events: none;
    opacity: 0;
    z-index: 12;
    transition: opacity .25s ease, top 1s 2s ease;
}

#UI_level_up.active {
    transition: opacity .25s ease, top 1s ease;
    opacity: 1;
    top: 10%;
}

#change_map_curtain {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    background-color: black;
    z-index: 8;
    opacity: 0;
    pointer-events: none;

    --closed: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    --open-left: polygon(0 0, 0 0, 0 100%, 0% 100%);
    --open-right: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

    --curtain-anim-time: 1s;
}


#change_map_curtain.close_to_left {
    opacity: 1;
    animation: close_to_left var(--curtain-anim-time) ease;
}

#change_map_curtain.open_to_left {
    opacity: 1;
    animation: open_to_left var(--curtain-anim-time) ease;
}

#change_map_curtain.close_to_right {
    opacity: 1;
    animation: close_to_right var(--curtain-anim-time) ease;
}

#change_map_curtain.open_to_right {
    opacity: 1;
    animation: open_to_right var(--curtain-anim-time) ease;
}

@keyframes close_to_right {
    from {
        clip-path: var(--open-left)
    }

    to {
        clip-path: var(--closed)
    }
}

@keyframes open_to_right {
    from {
        clip-path: var(--closed)
    }

    to {
        clip-path: var(--open-right)
    }
}

@keyframes close_to_left {
    from {
        clip-path: var(--open-right)
    }

    to {
        clip-path: var(--closed)
    }
}

@keyframes open_to_left {
    from {
        clip-path: var(--closed)
    }

    to {
        clip-path: var(--open-left)
    }
}




/* SHOP MENU */

.shop_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop_menu.open {
    opacity: 1;
    pointer-events: all;
}

.shop_menu_content {
    display: flex;
    padding: 5vw;
    background-color: #3030ff;
    border: 4px solid white;
    box-shadow: 5px 5px 0px black;
    font-size: 2.5vw;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.weapon_upgrade_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.current_weapon,
.next_weapon {
    width: 7vw
}

.cost_text {
    position: relative;
    margin-right: 4vw
}

.cost_text:after {
    content: "";
    position: absolute;
    top: -75%;
    width: 7vw;
    height: 7vw;
    background-image: url(assets/ui/coins.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: 2vh;
}

.shop_menu_content .btn {
    cursor: pointer;
    padding: 1vw;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

.shop_menu_content .btn.locked {
    color: #ffffff66;
    pointer-events: none;
}

.shop_menu_content .save_btn {
    position: relative;
}



.shop_menu_content .save_btn:before {
    content: "Game saved!";
    opacity: 0;
    transition: opacity .7s ease;
    position: absolute;
    top: -1vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    font-size: 1.4vw;
    color: chartreuse;
}

.shop_menu_content .save_btn.locked:before {
    opacity: 1;
}